.footer-wrapper {
    background-color: #121212;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer-socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    img {
        width: 1.3rem;
    }
    div {
        padding: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 0;
        flex-direction: column;
        .footer-copyright {
            padding: 2rem;
        }
    }
}
