.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0rem 0rem 5rem 0rem;
    overflow: hidden;
}

.gallery-wrapper {
    background-size: cover;
    background-color: #0f0f0f;
    background-image: url("../img/gallerybg3.svg");
}

.gallery-title {
    color: white;
    text-align: center;
    font-size: 5rem;
    padding: 5rem 0rem;
}

.follow-wrapper {
    padding-bottom: 3rem;
}

.follow-me-ig {
    cursor: pointer;
    background-color: rgba($color: #ffffff, $alpha: 0.02);
    padding: 0.2rem;
    width: 43%;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    p {
        text-transform: uppercase;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1060px) {
    .follow-me-ig {
        width: 45%;
        p {
            font-size: 1.4rem;
        }
    }
}

@media screen and (max-width: 960px) {
    .follow-me-ig {
        width: 45%;
        p {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .gallery-container {
        display: flex;
        padding: 0rem 0rem 2rem 0rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .follow-me-ig {
        width: 60%;
    }
}

@media screen and (max-width: 570px) {
    .follow-me-ig {
        width: 90%;
        p {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 410px) {
    .follow-me-ig {
        width: 100%;
        p {
            font-size: 0.9rem;
        }
    }
}
