.img-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: -1;
  img {
    height: 600px;
    width: 100%;
    object-fit: cover;
  }
}

.header-wrapper {
  position: relative;
  height: 600px;
}

.header-social-icons {
  display: flex;
  width: 35%;
  justify-content: space-around;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    height: 30px;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px){
  .header-social-icons {
    width: 100%;
  }
}

@media screen and (min-width: 1400px){
  .header-social-icons {
    width: 25%;
  }
}