.music-title {
  font-size: 48px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 4rem;
}

.songs {
  display: flex;
  justify-content: space-around;
  padding: 5rem;
}