* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  color: rgb(54, 54, 54);
}

body {
  font-family: 'Rajdhani', sans-serif;
}

h3, h4 {
  font-weight: 400;
  color: gray;
}

.App {
  transition: all 0.5s ease;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

@import "nav";
@import "header";
@import "music";
@import "song";
@import "player";